html {
    font-size: 10px;
}

body {
    font-family: Montserrat;
    background-color:#2E5FF2;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    
 
 }
 *{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
 }
 .clearfix::after {
    content: "";
    display: block;
    clear: both;

}
.text-uppercase{
    text-transform:uppercase;
}
#baslik h1{
    color: #04BFAD;
    text-align: center;
}
#baslik p{
    color: #04BFAD;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    font-size: 15px;
}
.sonuc{
    text-align: center;
    margin-top: 20px;
    color: #04BFAD;
}
.alan{
    margin-top:20px ;
    border-radius: 5px;
    border: #04BFAD ;
    text-align: center;
    border-color: #4671f1;
    background-color: transparent;
    color: #04BFAD;
    background-image: linear-gradient(#04BFAD, #04D9B2);
    background-position: bottom 5px center;
    background-size: calc(100% - 10px) 2px;
    background-repeat: no-repeat;
    border: 0 solid;
    padding: 10px;

}
.alan::placeholder{
    color: #04BFAD;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.buton{
    color: #04BFAD;
    background-color: transparent;
    border-radius: 2px;
    border: #04BFAD;
    border-color: aquamarine;
    width: 9rem;
    height: 3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-top: 10px;
    border: 2px solid;
    transition: background-color, .5s;
}
.buton:hover{
    background-color: #304EF2;
    color: antiquewhite;
}
.bas{
    text-align: center;
    color: #04BFAD;
    margin-top: 50px;
}