html {
    font-size: 10px;
}

body {
    font-family: Montserrat;
    background-color:#F2F2F2;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    
 
 }
 *{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
 }
 .clearfix::after {
    content: "";
    display: block;
    clear: both;

}
.text-uppercase{
    text-transform:uppercase;
}
a{
   color: #262526; 
   text-align: center;
}
h1{
    text-align: center;
    color: #262526;
    margin-bottom: 50px;
}