html {
    font-size: 10px;
}

body {
    font-family: Montserrat;
    background-color:#0367A6;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    
 
 }
 *{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
 }
 .clearfix::after {
    content: "";
    display: block;
    clear: both;

}
.text-uppercase{
    text-transform:uppercase;
}
h1 {
    text-align: center;
    color:#0B1226;
}
.username{
    margin-top:20px ;
    border-radius: 5px;
    border: #0367A6 ;
    text-align: center;
}
.password{
    margin-top:20px ;
    border-radius: 5px;
    border: #089a9a ;
    text-align: center;
    
}
.enter {
    color: aliceblue;
    background-color: #1591df;
    border-radius: 2px;
    border: #0367A6;
    border-color: aquamarine;
    width: 9rem;
    height: 3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-top: 10px;
}
.enter:hover{
    background-color: #0367A6;
}