html {
    font-size: 10px;
}

body {
    font-family: Montserrat;
    background-color:#0367A6;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    
 
 }
 *{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
 }
 .clearfix::after {
    content: "";
    display: block;
    clear: both;

}
.text-uppercase{
    text-transform:uppercase;
}
#logo-box h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    color: #0B1226;
}
#container {
    padding: 20px;
    background-color: #0367A6;
}
#container ul li  {
    float: right;
    padding: 0;
    margin: 0;
}
#container ul li {
    letter-spacing: .2rem;

}
#container ul li a {
    text-decoration: none;
    color: #0B1226;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: color .3s;
}
#container ul li{
    list-style: none;
    margin-right: 20px;
    
    
}
#container ul li a:hover{
    color: antiquewhite;
}
#baslik h1 {
    color: #0B1226;
    text-align: center;
    margin-top: 30px;
}
#kosullar p {
    color: #0B1226;
    text-align: center;
    margin-top: 30px;
}