*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #F2F2F2;
}
.text-uppercase{
    text-transform: uppercase;
}
#header h1{
    text-align: center;
    color: #262526;
    font-family: Montserrat;
}
#secenek{
    text-align: center;
    font-family: Montserrat;
    margin-top: 100px;
    padding:10px;
    background-color: #8C8C8C;
    width:30%;
    border-radius: 7px;
    transition: all .7s;
    
}
#secenek:hover{
    background-color: #262526;
    color:#8C8C8C;
}
#hikaye p{
    width: 50%;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    margin-top: 30px;
}