html {
    font-size: 10px;
}

body {
    font-family: Montserrat;
    background-color:#0367A6;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    
    
 
 }
 *{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
 }
 .clearfix::after {
    content: "";
    display: block;
    clear: both;

}
.text-uppercase{
    text-transform:uppercase;
}
#veri h1{
    color: aliceblue;
    text-align: center;
}
#veri .veri{
    text-align: center;
    margin-top: 30px;
}
.buton{
    margin-top: 10px;
}