html {
  background-color:#F2F2F2;
  font-family:Montserrat;
}

 *{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
 }
.text-uppercase{
  text-transform:uppercase;
}
#header h1{
  color:#262526;
  text-align:center;
}
#secenek{
  margin-top:80px;
  
}
#secenek a i{
  color:#262526;
  font-size:40px;
}
#secenek h5{
  color: #262526;
  margin-bottom:20px;
}