html {
    font-size: 10px;
}

body {
    font-family: Montserrat;
    background-color:#0367A6;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    
 
 }
 *{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
 }
 .clearfix::after {
    content: "";
    display: block;
    clear: both;

}
.text-uppercase{
    text-transform:uppercase;
}
#vki-hesap h1{
    text-align: center;
    color: aliceblue;
}
.sonuc{
    text-align: center;
    margin-top: 20px;
    color: antiquewhite;
}
.alan{
    border: 2px;
    text-align: center;
    margin-top: 10px;
}
.buton{
    background-color: #0388A6;
    border: #0367A6;
    border-radius: 3px;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    transition: color, .3s;
    color: aliceblue;
}
.buton:hover{
    background-color: #0367A6;
    color:antiquewhite ;
}
.baslik {
    text-align: center;
    color: aliceblue;
    margin-top: 30px;

}
.bas{
    text-align: center;
    color: aliceblue;
    margin-top: 50px;
}

